<div >
  <h1 >Resumiendo</h1>
  <img src="..\\static\\bpp.png" width="60" height="75">
  <p >Una aplicación web para realizar resúmenes de textos en castellano. Los resúmenes tendrán un 20% de la longitud del original. Para que la aplicación funcione correctamente los textos deben tener una longitud superior a 100 palabras.</p>
  <hr >
</div>
<br>
<form method="POST">
  <div >
    <label for="exampleFormControlTextarea1">Pega el texto aquí</label><br>
    <br>
<textarea name="text"  id="exampleFormControlTextarea1" rows="20" cols="50"></textarea>
  </div>
<br>
  <button type="submit" >Enviar</button>
</form>